{% extends "padre.html" %}

{% block titulo %}
    Página principal
{% endblock %}

{% block central %}
    <div class="fila">
        {% for i in range(1,eventos|length) %}
            <div class="col">
                <figure>
                    <a href="/evento/{{i}}"><img src="{{ imagenes[(i-1)].ruta}}" title="{{ eventos[i-1].nombre}}"/></a>
                    <a href="/evento/{{i}}"><figcaption>{{ eventos[i-1].nombre}}</figcaption></a>
                </figure>
            </div>
        {% endfor %}
    </div>
{% endblock %}
